<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location-Based Notifications</h4>
                    <p class="text-muted">Push real-time recommendations and sales on products based on customers' previous online and in-store shopping reocrds and their current location in the store.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interactive Map<br>&emsp;</h4>
                    <p class="text-muted">Search products and have them overlay on the map to allow easy navigation in the store. With customers and associates on the map, the interface also allows easy interactions between them.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer-Associate Interaction</h4>
                    <p class="text-muted">Chat and communicate with associates about sales, products, prices, recommendations and even ask for a different size while in fitting room.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Checkout<br>&emsp;</h4>
                    <p class="text-muted">Pay with the finger tip and choose to have the items shipped or picked up in-store.</p>
                </div>
            </div>
        </div>
    </section>