<!-- About Section -->
    <section id="story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Story</h2>
                    <h3 class="section-subheading text-muted">How Mary gets her perfect dress</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11:00am @ Home</h4>
                                    <h4 class="subheading">Online Store</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mary goes online and searches for a red dress of KateSpace as a party is coming up.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4:00pm @ Boylston St</h4>
                                    <h4 class="subheading">Location-Based Notifications</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mary is on her way to pick up her boys and walks by a Kate Spade store. She gets a notification on her phone. The red dress just popped up!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4:01pm @ The Store</h4>
                                    <h4 class="subheading">Interactive Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mary clicks on the notification and a map shows up telling her where she can find the dress that she was looking for this morning.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2:15pm @ Fitting room</h4>
                                    <h4 class="subheading">Customer-Associate Interaction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mary definitely likes the color, but the dress is a bit too large on the sides. She messages Alison, an available assistant, asking for a smaller size.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4:30pm @ Leaving</h4>
                                    <h4 class="subheading">Mobile Checkout</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Alison adds the dress to Mary’s digital shopping cart. Mary pays with her fingerprint and leaves with the red dress.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>